In [1]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\bittubagui.desktop-hq7rhmk\anaconda3\lib\site-packages (2.1.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\bittubagui.desktop-hq7rhmk\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\bittubagui.desktop-hq7rhmk\anaconda3\lib\site-packages (from xgboost) (1.11.4)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score

In [4]:
df=pd.read_excel('KTMData (1).xlsx')

In [5]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [7]:
# Problem Statementm

In [8]:
le =LabelEncoder()

In [9]:
df['Gender'] = le.fit_transform(df['Gender'])

In [10]:
df['Occupation'] = le.fit_transform(df['Occupation'])

In [11]:
df['Phone Type'] = le.fit_transform(df['Phone Type'])

In [12]:
df['Current Bike'] = le.fit_transform(df['Current Bike'])

In [13]:
df['Relationship'] = le.fit_transform(df['Relationship'])

In [14]:
df['Response'] = le.fit_transform(df['Response'])

In [15]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,1,0,0,1,1,0
1,2,27,0,1,2,4,3,1
2,3,39,0,3,0,1,2,0
3,4,20,0,3,1,4,2,0
4,5,29,1,2,0,1,1,1

In [16]:
X = df.drop(['ID', 'Response'], axis =1)

In [17]:
y = df['Response']

In [18]:
# Hyper Paremeter Tuning on Gradiat Boosting

In [26]:
def model_builder(model_name, score, X,y):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 1)
    model = model_name()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)

    cv_score = np.mean(cross_val_score(estimator =model, X=X, y=y, cv= 10))
    return accuracy, cv_score

In [28]:
model_builder(XGBClassifier, accuracy_score, X,y)

(0.7478070175438597, 0.746527535726734)